@import url("libs/normalize.css");
@import url("../javascripts/libs/codemirror/lib/codemirror.css");

#container {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
}

#editor,
#preview
{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 16px;
  width: 50%;
  position: absolute;
}

#editor {
  padding-left: 8px;
  top: 0;
  right: 0;
}

#preview {
  padding-right: 8px;
  top: 0;
  left: 0;
}

.CodeMirror,
#editor textarea,
#preview .post {
  background-color: #FFFFFF;
  border: 1px solid #E3E2E1;
  height: auto;
  box-shadow: 0 1px 1px rgba(165, 155, 165, 0.1) inset;
}

#editor textarea,
.CodeMirror-scroll {
  font-size: 12px;
  font-family: "Droid Sans Mono", "Ubuntu Mono", "Monaco", "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
  line-height: 1.5em;
  color: #555555;
  min-height: 256px;
  overflow-y: hidden;
  overflow-x: auto;
  width: 100%
}

.CodeMirror .cm-header {
  font-weight: normal;
}

.CodeMirror .cm-trailingspace {
  background-color: #EFEFEF;
}

body {
  background-color: #F9f9F9;
  font-family: "Ubuntu", "Lucida Grande", "Lucida Sans Unicode", "Helvetica Neue", "DejaVu Sans", "Verdana", "Microsoft YaHei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
  font-size: 14px;
  line-height: 1.5em;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: "Russo One", "Ubuntu", "Lucida Grande", "Lucida Sans Unicode", "Helvetica Neue", "DejaVu Sans", "Verdana", "Microsoft YaHei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
  font-weight: normal;
}

blockquote {
  border-left: 16px solid #F9f9F9;
  margin-left: 8px;
  padding-left: 16px;
}

img,
video {
  max-width: 100%;
}

em {
  font-size: 12px;
  padding: 0 2px;
}

a {
  color: #0088CC;
  outline: 0 none;
}

a:focus,
a:hover,
a:visited {
  color: #005580;
  outline: 0 none;
}

a:hover {
  color: #00AABB;
}

code,
.marked-code {
  font-family: "Droid Sans Mono", "Ubuntu Mono", "Monaco", "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
  font-size: 12px;
  background-color: #F9F9F9;
  padding: 0 2px;
}

.marked-code {
  line-height: 1.28em;
  padding: 4px;
}

.marked-code code {
  background-color: transparent;
}

#preview .post {
  padding: 0 8px;
  min-height: 256px;
}

.block-highlight {
  background-color: #FFFFDD;
}

.block-current {
  background-color: #FFFFDD;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  font-size: 140%;
  margin: 24px 0 12px;
  line-height: 32px;
}

.content h1,
.content h2 {
  font-size: 200%;
  margin-top: 8px;
  padding-bottom: 2px;
  border-bottom: 1px solid #E7E7E7;
}

.content * + h1,
.content * + h2 {
  margin: 32px 0 16px;
}

.content p,
.content pre {
  margin-bottom: 16px;
}

.content pre,
.content pre span {
  line-height: 16px;
}

.content li {
  line-height: 22px;
  margin-bottom: 4px;
}
