@import url("libs/normalize.css");
@import url("../javascripts/libs/codemirror/lib/codemirror.css");

body {
  background-color: #F7F7F7;
}

img,
video {
  max-width: 100%;
}

blockquote {
  border-left: 16px solid #F9f9F9;
  margin-left: 0;
  padding-left: 16px;
}

code {
  background-color: #F9F9F9;
  font-size: 12px;
}

.container {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
}

.editor,
.preview
{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 16px;
  width: 50%;
  position: absolute;
}

.editor {
  padding-left: 8px;
  top: 0;
  right: 0;
}

.preview {
  padding-right: 8px;
  top: 0;
  left: 0;
}

.CodeMirror,
.editor textarea,
.preview .post {
  font-family: "Droid Sans Mono", "Ubuntu Mono", "Monaco", "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
  font-size: 12px;
  line-height: 1.5em;
  color: #555555;
  background-color: #FFFFFF;
  border: 1px solid #E3E2E1;
  height: auto;
  box-shadow: 0 1px 1px rgba(165, 155, 165, 0.1) inset;
}

.editor textarea,
.CodeMirror-scroll {
  min-height: 256px;
  overflow-y: hidden;
  overflow-x: auto;
  width: 100%
}

.CodeMirror .cm-header {
  font-weight: normal;
}

.CodeMirror .cm-trailingspace {
  background-color: #EFEFEF;
}

.marked-code {
  display: block;
  font-size: 12px;
  line-height: 1.28em;
  background-color: #F9F9F9;
  padding: 4px;
}

.marked-code code {
  background-color: transparent;
}

.preview .post {
  font-size: 14px;
  padding: 0 8px;
  min-height: 256px;
}

.preview .post h1,
.preview .post h2,
.preview .post h3,
.preview .post h4,
.preview .post h5,
.preview .post h6 {
  font-family: sans-serif;
  margin-top: 32px;
}

.preview .post h3,
.preview .post h4 {
  margin-top: 24px;
}

.preview .post h5,
.preview .post h6 {
  margin-top: 16px;
}

.preview .post > h1:first-child {
  margin-top: 16px;
}

.preview .post > h2:first-child,
.preview .post > h3:first-child {
  margin-top: 8px;
}

.preview .post > p:first-child,
.preview .post > h4:first-child,
.preview .post > h5:first-child,
.preview .post > h6:first-child {
  margin-top: 4px;
}

.preview .post > blockquote:first-child {
  margin-top: 0px;
}

.block-highlight {
  background-color: #FFFFDD;
}

.block-current {
  background-color: #FFFFDD;
}
