@import url("libs/bootstrap.css");
@import url("../javascripts/libs/codemirror/lib/codemirror.css");

#container {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
}


/******************************
 * editor and preview section *
 *****************************/
#editor,
#preview
{
  padding: 16px;
  width: 50%;
  position: absolute;
  top: 0;
}

#editor {
  padding-left: 8px;
  right: 0;
}

#preview {
  padding-right: 8px;
  left: 0;
}

.CodeMirror,
#editor textarea,
#preview .post {
  background-color: #FFFFFF;
  box-shadow: 0 1px 1px rgba(165, 165, 165, 0.1) inset;
  border: 1px solid #EFEFEF;
  height: auto;
}

#editor textarea,
.CodeMirror-scroll {
  font-size: 12px;
  font-family: "Droid Sans Mono", "Ubuntu Mono", "Monaco", "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "WenQuanYi Micro Hei Mono", monospace;
  color: #555555;
  line-height: 1.5em;
  min-height: 256px;
  margin-bottom: -2px;
  margin-right: 0;
  padding-right: 0;
  overflow-y: hidden;
  overflow-x: auto;
  width: 100%
}

.CodeMirror pre {
  padding: 0 2px 0 8px;
}

.CodeMirror .cm-header {
  font-weight: normal;
}

.CodeMirror .cm-trailingspace {
  background-color: #EFEFEF;
}

body {
  background-color: #F9f9F9;
  font-family: "Ubuntu", "Lucida Grande", "Lucida Sans Unicode", "Helvetica Neue", "DejaVu Sans", "Verdana", "Microsoft YaHei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
  font-size: 14px;
  line-height: 1.6em;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: "Russo One", "Ubuntu", "Lucida Grande", "Lucida Sans Unicode", "Helvetica Neue", "DejaVu Sans", "Verdana", "Microsoft YaHei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
  font-weight: normal;
}

blockquote {
  border-left: 16px solid #F9f9F9;
  margin-left: 8px;
  padding-left: 16px;
}

blockquote p {
  font-size: inherit;
  line-height: inherit;
}

img,
video {
  max-width: 100%;
}

em {
  font-size: 90%;
  font-style: italic;
  padding: 0 2px;
}

b,
strong {
  font-size: 110%;
}

a {
  color: #0088CC;
  outline: 0 none;
}

a:focus,
a:hover,
a:visited {
  color: #005580;
  outline: 0 none;
}

a:hover {
  color: #00AABB;
}

code {
  color: #16A700;
}

code,
.marked-code {
  font-family: "Droid Sans Mono", "Ubuntu Mono", "Monaco", "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "WenQuanYi Micro Hei Mono", monospace;
  font-size: 12px;
  background-color: #F9F9F9;
  padding: 0 2px;
  border-radius: 0;
  border: 0 none;
}

.marked-code {
  line-height: 1.28em;
  padding: 4px;
}

.marked-code code {
  background-color: transparent;
}

#preview .post {
  padding: 4px 8px;
  min-height: 256px;
}

.block-highlight {
  background-color: #FFFFDD;
}

.block-current {
  background-color: #FFFFDD;
}

.content h3,
.content h4,
.content h5,
.content h6 {
  margin: 24px 0 12px;
  font-size: 20px;
  line-height: 32px;
}

.content h1,
.content h2 {
  font-size: 30px;
  line-height: 36px;
  margin: 32px 0 16px;
  padding-bottom: 2px;
  border-bottom: 1px solid #EFEFEF;
}

.content h1 {
  font-size: 36px;
  line-height: 40px;
}

.content p,
.content pre {
  margin-bottom: 16px;
}

.content p:first-child {
  margin-top: 0;
}

.content h1:first-child,
.content h2:first-child {
  margin-top: 2px;
}


/******************************
 ****** file list section  ****
 *****************************/
#list {
  font-family: "Droid Sans Mono", "Ubuntu Mono", "Monaco", "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "WenQuanYi Micro Hei Mono", monospace;
  background: rgba(0, 0, 0, 0.94) fixed no-repeat;
  color: #FFFFFF;
  z-index: 999;
  position: fixed;
  left: 0;
  top: 0;
  width: 336px;
  max-width: 100%;
  margin-left: -100%;
  overflow-x: hidden;
  overflow-y: auto;
}

#list .menu {
  padding: 8px 16px;
  border-bottom: 1px solid #222222;
  background-color: #222222;
}

#list .menu .add,
#list .menu .close
{
  color: #FFFFFF;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  text-shadow: 0 1px 0 #FFFFFF;
  opacity: 0.5;
  cursor: pointer;
}

#list .menu .add {
  font-size: 22px;
}

#list .menu .add:hover,
#list .menu .add:focus,
#list .menu .close:hover,
#list .menu .close:focus {
  text-decoration: none;
  color: #FFFFFF;
  opacity: 0.9;
}

#list ul {
  padding: 0;
  margin: 0;
}

#list .list-item {
  cursor: pointer;
  list-style: none;
  line-height: 1.4em;
  padding: 8px 16px;
  border-bottom: 1px solid #222222;
}

#list .list-item:hover {
  background-color: #303030;
}

#list .current {
  background-color: #222222;
  font-weight: bold;
  font-size: 96%;
}

#list .list-item a {
  cursor: pointer;
  color: #FFFFFF;
  text-decoration: none;
}

#list .list-item .item-close {
  float: right;
  font-weight: bold;
  color: #777777;
  text-shadow: 0 1px 0 #888888;
  display: none;
}

#list .list-item:hover .item-close {
  display: inline-block;
}

#list .list-item .item-close:hover {
  color: #FF0000;
  text-shadow: 0 1px 0 #FF0000;
}
